$primary: #18181b;
$primary--dark: #0d0d0f;
$white: #ffffff;
$white--smooth: #e5e5e5;
$white--smooth2: #f7f7f8;
$black: #000000;
$logo: #d90429;
$font : 'Poppins', Arial, sans-serif; /* Modern font */