@import './_variables';

Footer {
    background-color: $primary;
    position: absolute;
    bottom: 0;  
    left: 0;
    right: 0;
    color: $secondary;

    display: flex;
    justify-content: center;
}