@use './_variables' as vars;

body {
    display: flex;
    flex-direction: column; /* Arrange children in a column */
    min-height: 100vh; /* Ensure the body takes the full viewport height */
    margin: 0; /* Remove default margin */
}

Footer {
    margin-top: auto; /* Push the footer to the bottom */
    background-color: vars.$primary--dark;
    position: fixed; /* Changed to fixed to keep footer at the bottom */
    bottom: 0;  
    left: 0;
    right: 0;
    color: vars.$white;
    font-size: 0.8rem;
    height: 40px;
    padding: 10px 0;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; /* Center content horizontally */

    img {
        width: 25px;
        height: 25px;
        margin-right: 5px;
    }

    a:hover {
        color: vars.$logo;
    }

    p {
        font-weight: 100;
    }

    
}