@use './_variables' as *; // Importe toutes les variables pour les rendre accessibles

.box {
    display: flex;
    flex-direction: row; /* Arrange les enfants côte à côte */
//     justify-content: space-between; /* Espace entre les enfants */
    align-items: stretch; /* Étire les enfants pour qu'ils aient la même hauteur */
//     width: 100%; /* Prend toute la largeur disponible */
    max-width: 1200px; /* Limite la largeur maximale de la box */
//     margin: 0 auto; /* Centre la box horizontalement */
    height: 60vh; /* Ajuste la hauteur pour ne pas dépasser la fenêtre visible */
//     overflow: hidden; /* Empêche tout débordement */


    .video-container {
        flex: 2; /* Prend 2 parts de l'espace disponible */
        display: flex; /* Active le flexbox pour centrer la vidéo */
        justify-content: center; /* Centre horizontalement */
        align-items: center; /* Centre verticalement */
        width: auto; /* Prend toute la largeur */
        height: 100%; /* Prend toute la hauteur de la box */
        background-color: $primary--dark;
        color: $white; /* Change la couleur du texte à blanc */
        
    }

    .chat-container {
        display: flex; /* Active le flexbox pour ses enfants */
        flex: 1; /* Prend 1 part de l'espace disponible */
        flex-direction: column; /* Empile les enfants verticalement */
        height: 100%; /* Prend toute la hauteur de la box */
        max-width: 400px; /* Limite la largeur à 400px */
//         overflow-y: auto; /* Ajoute un défilement vertical si nécessaire */
        background-color: #1e1e1e; /* Ajoute un fond pour le chat */

//         input, textarea {
//             font-size: 16px; /* Empêche le zoom automatique sur les champs d'entrée */
        // }
    }
}

@media (max-width: 768px) {
    main {
        margin: 0; /* Remove margin for smaller screens */
    }
    .box {
        flex-direction: column; /* Place les enfants en colonne */
        height: calc(100vh - 60px); /* Ajuste la hauteur pour ne pas dépasser la fenêtre visible */

        .video-container {
            flex: none; /* Désactive le partage d'espace */
            width: 100%; /* Prend toute la largeur */
            height: 60%; /* Limite la hauteur à 60% de l'écran */
        }

        .chat-container {
            flex: none; /* Désactive le partage d'espace */
            max-width: 100%; /* Enlève la limite de largeur */
            height: 40%; /* Limite la hauteur à 40% de l'écran */
        }
    }

    .auth-form {
        padding: 0 10px; /* Réduit le padding pour les petits écrans */
        box-sizing: border-box; /* Inclut le padding dans la largeur/hauteur totale */
    }

    Footer {
        display: none !important; /* Cache le footer */
    }
}
