@use './_variables';

.box {
    display: flex;
    flex-direction: row; /* Arrange children side by side */
    justify-content: center; /* Center children horizontally */
    align-items: center; /* Center children vertically */
    height: 70vh; /* Adjust height dynamically */
    max-width: 100%; /* Limit width */
    border: 1px solid #2a2a2e; /* Optional: Add a border for better visibility */
    flex-wrap: nowrap; /* Prevent wrapping of children */
    margin: auto; /* Center the box horizontally and vertically */
    position: relative; /* Ensure proper centering within the parent */

    .video-container, .stream-message {
        flex: 1; /* Permet de prendre tout l'espace disponible */
        display: flex; /* Active le flexbox pour ses enfants */
        align-items: center; /* Centre verticalement */
        justify-content: center; /* Centre horizontalement */
        aspect-ratio: 16 / 9; /* Maintient un ratio 16:9 */
        max-width: 100%; /* Empêche de dépasser la largeur du parent */
        max-height: 100%; /* Empêche de dépasser la hauteur du parent */
        width: auto; /* Ajuste la largeur automatiquement */
        height: 100%; /* Ajuste la hauteur automatiquement */
    }

    .chat-container {
        flex: 1; /* Take the remaining space */
        height: 100%; /* Ensure it occupies the full height of the parent */
        max-width: 400px; /* Limit width to 400px */
        overflow: hidden; /* Prevent content overflow */
        display: flex; /* Enable flexbox for its children */
        flex-direction: column; /* Stack children vertically */
    }
}

@media (max-width: 768px) {
    main {
        margin: 0; /* Remove margin for smaller screens */
    }
    .box {
        height: auto; /* Retire la hauteur fixe */
        flex-direction: column; /* Place les enfants en colonne */
        justify-content: flex-start; /* Aligne les enfants en haut */
        height: calc(100vh - 60px); /* Ajuste la hauteur dynamique */

        .video-container, .stream-message {
            width: 100%; /* Prend toute la largeur */
            height: auto; /* Ajuste la hauteur automatiquement */
            max-height: 40vh; /* Limite la hauteur à 50% de l'écran */
            flex: none; /* Désactive le partage d'espace */
        }

        .chat-container {
            width: 100% !important; /* Force la largeur à 100% */
            max-width: 100%; /* Empêche toute limitation de largeur */
            overflow-y: auto; /* Ajoute un défilement vertical si nécessaire */

            input {
                margin-right: 0; /* Enlève la marge à droite */
            }
        }
    }

    Footer {
        display: none !important; /* Cache le footer */
    }
}
