@use './_variables' as vars;

nav {
    font-family: vars.$font; /* Applique la police définie dans les variables */
    flex: 0 0 60px; /* définir la hauteur de la navbar */
        
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 2vw; /* Conserver le padding si nécessaire */
        
    background-color: vars.$black; /* Couleur de fond sombre */
    color: vars.$white;

    span:hover {
        cursor: pointer !important;
    }
    


    img {
        width: 40px;
        border-radius: 50%;
    }

    ul {
        display: flex;
        list-style-type: none;
        margin: 0;


        li {
        margin: 0 10px;
        font-size: 1.0.9;
        }

    }

    .dropdown-menu {
        position: absolute;
        top: 100%; /* Positionner sous le parent */
        right: calc(-2vw); /* Compense le padding de nav */
        margin: 0; /* Supprimer les marges */
        padding: 10px;
        background: vars.$primary--dark;
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
        border-radius: 4px;
        display: none; /* Masquer par défaut */
        box-sizing: border-box; /* Inclure padding dans la largeur */
    }

    .user-menu {
        position: relative; /* Nécessaire pour que .dropdown-menu utilise right: 0 */
    }

    .user-menu.open .dropdown-menu {
        display: block; /* Afficher le menu déroulant */
    }

    li:hover .dropdown-menu {
        display: none; /* Remove hover behavior */
    }

    

    .dropdown-menu button {
        background-color: inherit;
        color: vars.$white;
        border: none;
        margin: 0;
        border-radius: 0;
        padding: 8px 12px; /* Add padding for better click area */
        text-align: left; /* Align text to the left */
        width: 100%; /* Full width for buttons */
    }

    .dropdown-menu li, .dropdown-menu button:hover {
        color: vars.$logo;
        cursor: pointer;
    }

    
}
