@import './_variables';

nav {
    background-color: $primary;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 50px;

    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 2vw;
    color: $secondary;

    img {
        width: 40px;
        border-radius: 50%;
    }

    ul {
        display: flex;
        list-style-type: none;

        li {
        margin: 0 10px;

        }
    }

    .dropdown-menu {
        position: absolute;
        top: 100%;
        right: 0;
        margin-top: 16px;
        background: $primary;
        padding: 10px;
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
        padding: 0;
        z-index: 1000;

        button {
            background-color: inherit;
            color: $secondary;
            border: none;
            margin: 0;
            border-radius: 0;
        }

        li, button:hover {
            background-color: $link;
            color: $secondary;
            cursor: pointer;
        }
    }

    
}