@use './_variables' as vars;

nav {
    font-family: vars.$font; /* Applique la police définie dans les variables */
    flex: 0 0 60px; /* définir la hauteur de la navbar */
        
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 2vw; /* Conserver le padding si nécessaire */
        
    background-color: vars.$black; /* Couleur de fond sombre */
    color: vars.$white;

    span:hover {
        cursor: pointer !important;
    }

    img {
        width: 40px;
        border-radius: 50%;
    }

    ul {
        display: flex;
        list-style-type: none;
        margin: 0;

        li {
            margin: 0 10px;
            font-size: 1.0.9;
        }
    }
}

// Style global pour le dropdown-menu rendu via portail
.dropdown-menu {
    position: fixed;
    top: 60px; /* Ajuste selon la hauteur de ta navbar */
    right: 2vw; /* Ajuste selon ton layout */
    margin: 0;
    padding: 10px;
    background: vars.$black;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    display: block;
    box-sizing: border-box;
    border: 1px solid vars.$grey--smooth;
    border-top: none;
    border-radius: 5px;
    z-index: 9999;
    min-width: 180px;
}

.dropdown-menu ul {
    display: flex;
    flex-direction: column;
    padding: 0;
    margin: 0;
}

.dropdown-menu li {
    margin: 0.4em 0;
    font-size: 0.9rem;
    text-align: left;
    height: 20px;
    transition: background 0.2s, color 0.2s, box-shadow 0.2s;
    border-radius: 4px;
}

.dropdown-menu button {
    background-color: inherit;
    color: vars.$white;
    border: none;
    margin: 0;
    border-radius: 0;
    padding: 8px 12px;
    text-align: left;
    width: 100%;
}

.dropdown-menu li, .dropdown-menu button:hover {
    color: vars.$logo;
    cursor: pointer;
}

.dropdown-menu li:hover, .dropdown-menu button.logout:hover {
    background: rgba(255,255,255,0.08);
    color: vars.$logo;
    box-shadow: 0 2px 8px rgba(0,0,0,0.10);
    cursor: pointer;
}

.dropdown-menu button.logout {
    color: red;
    margin: 0.4em 0;
    padding: 0;
}

svg {
    margin-right: 10px;
}
