@use './_variables' as vars;

.pinned-message {
    background-color: vars.$grey--smooth;
    color: vars.$white;
    border-top: 1px solid #5c5c5c;
    border-radius: 8px;
    box-shadow: 0 2px 8px rgba(0,0,0,0.12);
    padding: 14px 16px 10px 16px;
    margin-top: 60px;
    font-weight: bold;
    width: 90%;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    z-index: 10;

    p:nth-child(1),p:nth-child(2) {
        margin: 0;
    }
    
    p:nth-child(1) {
        display: flex;
        align-items: center;
        font-size: 0.8em;
        text-align: right;
        margin-bottom: 2px;
        color: vars.$grey;

    }

    p:nth-child(2) {
        max-height: 100px;
        overflow: hidden;
        font-size: 1.2em;
        color: vars.$white;

    }
}



@media (max-width: 768px) {
    .pinned-message {
        margin-top: 15px;
    }
}