@use './_variables' as vars;

.pinned-message {

    background-color: vars.$grey--smooth;
    color: vars.$white;
    border-top: 1px solid #dee2e6;
    padding: 10px;
    font-weight: bold;
    z-index: 1000;
    
    

    p:nth-child(1) {
        display: flex;
        align-items: center;
        color: vars.$grey;
        font-size: 0.8em;
        text-align: right;
    }
}