div {
    p {
        font-weight: 700;
        font-size: larger;
    }
}

.fixed-size-video {
  width: 100%; /* Take up full width of the container */
  height: 100%; /* Take up full height of the container */
  object-fit: cover; /* Ensure the video scales properly */
}

.video-container {
  position: relative;
  height: 100%; /* Ensure the container fills the height */
  width: 100%; /* Ensure the container fills the width */
  background-color: black; /* Add a background color for the video area */
}

.stream-message {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%; /* Fill the video container */
  color: white;
  font-size: 1.5rem;
  background-color: black; /* Match the video container background */
  text-align: center;
}

@media screen and (max-width: 600px) {
  .stream-message {
    font-size: 1rem; /* Adjust font size for smaller screens */
    margin: 4px;
    height: auto;
    padding-top: 35%;
  }
}