@use './css/_variables' as vars;

root {
  font-family: Arial, sans-serif;
  height: 100vh;
  overflow: hidden; // Prevent scrolling
}

main {
  background-color: vars.$primary;

}

body {
  padding-top: 50px;
  margin: 0;
  height: 100vh;
  // Removed duplicate font-family and overflow
}

button {
  width: 300px;
  margin: 10px;
  padding: 10px;
  border-radius: 5px;
  border: 0.1em solid #282c34;
}

button:hover {
  background-color: vars.$primary;
  color: vars.$link;
  cursor: pointer;
}

.centered-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: calc(100vh - 60px);

}

a {
 text-decoration: none;
 color: whitesmoke;
}

li {
  list-style-type: none;
}

.cookies-popup {
    position: fixed;
    bottom: 20px;
    left: 20px;
    background: vars.$link;
    border: 1px solid #ccc;
    padding: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    z-index: 1000;
}

.cookies-popup button {
    margin-top: 10px;
    padding: 5px 10px;
    background: vars.$link;
    color: #fff;
    border: none;
    cursor: pointer;
}

.user-menu {
    position: relative;
    cursor: pointer;
}


