@use './css/_variables' as vars;

// root {
//   height: 100vh;
//   overflow: hidden; // Prevent scrolling
// }




body {
  display: flex;
  flex-direction: column;
  height: 100vh; /* prendre la hauteur de la fenêtre */
  margin: 0; /* supprimer les marges par défaut */
  background-color: vars.$primary; /* couleur de fond sombre */
  font: vars.$font; /* police de caractères */
}

main {
  max-width: 1350px; /* largeur maximale de la fenêtre principale */
  margin: 40px auto 0; /* centrer la fenêtre principale horizontalement */
  border: 1px solid red
}

button {
  width: 300px;
  margin: 10px;
  padding: 10px;
  border-radius: 5px;
  border: 0.1em solid #282c34;
}

button:hover {
  background-color: vars.$primary;
  color: vars.$logo;
  cursor: pointer;
}

.centered-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: calc(100vh - 60px);

}

a {
 text-decoration: none;
 color: whitesmoke;
}

li {
  list-style-type: none;
}

.cookies-popup {
    position: fixed;
    bottom: 20px;
    left: 20px;
    background: vars.$logo;
    border: 1px solid #ccc;
    padding: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    z-index: 1000;
}

.cookies-popup button {
    margin-top: 10px;
    padding: 5px 10px;
    background: vars.$logo;
    color: #fff;
    border: none;
    cursor: pointer;
}

.user-menu {
    position: relative;
    cursor: pointer;
}



